<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Jaw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<script type="text/javascript" src="index.js"></script>
<body>
#set($result = $left + $right)
<h1>Post Data : "${result}"</h1>
<form method="post" action="index.vm">
	<input name="left" type="text" value="Hello, ">
    <input name="right" type="text" value="World">
	<input type="submit" value="Concretize">
</form>
</body>
</html>